@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Font family */
  --font-inter: 'Inter', sans-serif;

  /* Color */
  --color-dark-gray: #615e5e;
  --color-royal-blue: #264de4;
}

html {
  font-family: var(--font-inter);
}
